APP_NAME=dka
APP_ENV=
APP_KEY=                    # run php artisan key:generate to initialize your app_key
APP_DEBUG=false
APP_URL=

# DKA Identity
DKA_USERNAME=dka            # username of the inoming email, as in "dka" @dka.example.com
DKA_TERSE=no-reply          # sometimes useful if you dont want responses from the DKA

# rDKA
DKA_DOMAIN=                 # The domain where this dka will operate. (e.g., dka.example.com)
DKA_MAIL_DOMAIN=            # The domain this dka will serve. (e.g., example.com)

DNS_CANONICAL="_dka.${DKA_DOMAIN}"       #Do not change.
                            # Set DNS record _dka.DKA_DOMAIN TXT "DKA=v1; dka=fqdn of DKA_DOMAIN


# Mailgun (inbound webhook)
MG_SIGNING_KEY=                         # Mailgun webhook signing key, found under your API keys

# Mailgun (outbound via Mailgun API)
MAILGUN_ENDPOINT=api.mailgun.net        # https://api.eu.mailgun.net for europe.
MAILGUN_API_KEY=

# Dont change any of the following
MAIL_FROM_NAME="${DKA_USERNAME}"
MAIL_FROM_ADDRESS="${DKA_USERNAME}@${DKA_DOMAIN}"

FILESYSTEM_DISK=local

CACHE_STORE=database

# DKA Behavior
DB_CONNECTION=sqlite
MAIL_MAILER=mailgun
DKA_TOKEN_TTL=600
DKA_VERSION=1
DKIM_CHECK_REQUIRED=true

# Redis used for token storage and creation

REDIS_CLIENT=predis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379


#General Settings
APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US
APP_MAINTENANCE_DRIVER=file
LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug
