APP_NAME=dka
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://dka.test

# root DKA
rdka=dka.keyzero.org

# DKA Identity
DKA_USERNAME=dka
DKA_TERSE=no-reply
DKA_DOMAIN=dka.example.com

DKA_MAIL_DOMAIN=example.com
DNS_CANONICAL=_dka.example.com

# DKA Behavior
DB_CONNECTION=sqlite
MAIL_MAILER=mailgun
DKA_TOKEN_TTL=600
DKA_VERSION=1
DKIM_CHECK_REQUIRED=true

# Mailgun (inbound webhook + outbound sending)
MG_SIGNING_KEY=

# Mailgun (outbound via Mailgun API)
MAILGUN_ENDPOINT=
MAILGUN_API_KEY=
MAIL_FROM_NAME="${DKA_USERNAME}"
MAIL_FROM_ADDRESS="${DKA_USERNAME}@${DKA_DOMAIN}"

FILESYSTEM_DISK=local

CACHE_STORE=database

# Redis used for token storage and creation

REDIS_CLIENT=predis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379


#General Settings
APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US
APP_MAINTENANCE_DRIVER=file
LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug
